.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  row-gap: 24px;
  column-gap: 24px;

  padding: 24px 0;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}
